<nav class="nav">
    <div class="homeNavDiv">
        <a href="/"><span class="homeNav">Home</span></a>
    </div>
</nav>
<div class="container">
    <h1 class="homeHead">{{title}}</h1>
    <a href="/all" class="viewAllBtn"><div>View All!</div></a>
    <form id="form" name="form" class="newCarForm" action="/add" method="POST">
        <div>
        </div>
        <div class="yearBrandModel">
            <input class="newCarInput" name="year" placeholder="Year" type="text" autocomplete="off">
            <input class="newCarInput" name="brand" placeholder="Brand" type="text" autocomplete="off">
            <input class="newCarInput" name="model" placeholder="Model" type="text" autocomplete="off">
        </div>
        <div class="hpTqMsrp">
            <input class="additionalInput" name="hp" placeholder="HP" type="text" autocomplete="off">
            <input class="additionalInput" name="tq" placeholder="Lbs*tq" type="text" autocomplete="off">
            <input class="additionalInput" name="msrp" placeholder="MSRP" type="text" autocomplete="off">
        </div>
    </form>
    <div class="submitBtnDiv">
        <button form="form" id="submitBtn" class="submitBtn" type="submit">Add To List</button>
    </div>
    
</div>