.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background-color: #333;
  font-family: "Museo Sans"; }

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/fonts/museoSans.ttf") format("TrueType"); }

.container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

hr {
  width: 70%;
  margin: 0;
  margin-bottom: 25px;
  height: 1px;
  background-color: white;
  border-color: purple;
  max-width: 450px; }

input {
  -webkit-appearance: none; }

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #e4e4e4;
  background-color: purple;
  border-bottom: #e4e4e4 solid 2px; }

.homeNavDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%; }

.navLinks {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%; }

.homeNav {
  font-size: 1.3rem;
  color: #e4e4e4; }

.brandNav {
  align-self: flex-end;
  font-size: 1.3rem;
  color: #e4e4e4; }

a {
  text-decoration: none;
  color: inherit; }

.h3Div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px; }

.pDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-top: 7px;
  margin-bottom: 40px;
  text-align: center; }

.homeHead {
  font-size: 2.9rem;
  margin: 0;
  margin-bottom: 40px;
  color: #e4e4e4; }

.homeH3 {
  font-size: 1.8rem;
  margin: 0;
  color: #e4e4e4; }

.homeP {
  font-size: 1.12rem;
  margin: 0;
  color: #e4e4e4; }

.viewAllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  color: #333;
  font-size: 1.2rem;
  border: 2px solid purple;
  border-radius: 2px;
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  transition: all 0.15s ease-in-out; }

.viewAllBtn:hover {
  background-color: #333;
  color: #e4e4e4;
  cursor: pointer; }

.carList {
  width: 400px;
  max-height: 400px;
  overflow: scroll;
  padding: 0; }

.carListItem {
  margin: 5%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #e4e4e4;
  padding: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  color: #e4e4e4;
  font-size: 1.1rem; }

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px; }

@media (max-width: 550px) {
  .carList {
    width: 350px; }
  .carListItem {
    flex-direction: column; }
  .buttonsDiv {
    flex-direction: row;
    margin-top: 5px; } }

@media (max-width: 450px) {
  .carList {
    width: 310px; } }

.newCarForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 450px; }

.newCarInput {
  width: 23%;
  padding: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 1.00rem;
  outline: none;
  align-self: center;
  border-radius: 2px;
  text-align: center; }

.additionalInput {
  display: table;
  vertical-align: center;
  width: 23%;
  padding: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 1.00rem;
  outline: none;
  align-self: center;
  border-radius: 2px;
  text-align: center; }

.yearBrandModel {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding: 2%;
  font-size: 1.0rem;
  outline: none;
  align-self: center;
  padding-bottom: 0; }

.hpTqMsrp {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding: 2%;
  padding-top: 0;
  font-size: 1.0rem;
  outline: none;
  align-self: center; }

@media (max-width: 600px) {
  .homeHead {
    font-size: 2.6rem;
    margin-bottom: 30px; }
  .pDiv {
    margin-bottom: 30px; }
  .homeH3 {
    font-size: 1.7rem; }
  .homeP {
    font-size: 1.12rem; }
  .newCarForm {
    flex-direction: row; }
  .yearBrandModel {
    padding-top: 0;
    flex-direction: column; }
  .hpTqMsrp {
    padding-bottom: 0;
    flex-direction: column; }
  .newCarInput {
    margin: 3%;
    margin-left: 0;
    margin-right: 0;
    width: 80%; }
  .additionalInput {
    margin: 3%;
    margin-left: 0;
    margin-right: 0;
    width: 80%; } }

@media (max-width: 500px) {
  .homeHead {
    margin-top: 45px;
    font-size: 2.45rem; }
  .pDiv {
    margin-bottom: 30px; }
  .homeH3 {
    font-size: 1.65rem; }
  .pDiv {
    width: 420px; }
  .homeP {
    font-size: 1.05rem; }
  .yearBrandModel {
    padding-right: 0;
    padding-left: 4%; }
  .hpTqMsrp {
    padding-left: 0;
    padding-right: 4%; }
  .newCarInput {
    width: 75%; }
  .additionalInput {
    width: 75%; } }

@media (max-width: 450px) {
  .container {
    width: 100%; }
  .nav {
    width: 360px; }
  .newCarInput {
    margin: 1%;
    height: 20px;
    font-size: 0.95rem; }
  .additionalInput {
    margin: 1.5%;
    height: 15px; }
  .pDiv {
    margin-top: 5px;
    width: 320px; }
  .homeP {
    font-size: 0.95rem;
    margin-bottom: 5px; }
  .h3Div {
    width: 100%;
    margin-top: 5px; }
  .homeHead {
    font-size: 2.25rem;
    margin-bottom: 15px;
    margin-top: 15px; }
  .viewAllBtn {
    margin-bottom: 7px;
    margin-top: -10px;
    height: 35px; }
  .newCarForm {
    flex-direction: column;
    height: 200px;
    margin-top: 1.5%;
    width: 360px; }
  .yearBrandModel {
    width: 70%;
    padding: 0;
    height: 50%;
    justify-content: space-around; }
  .hpTqMsrp {
    width: 70%;
    padding: 0;
    height: 50%;
    justify-content: space-around; } }

.submitBtnDiv {
  height: 70px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }

.submitBtn {
  font-size: 1.1rem;
  background-color: #e4e4e4;
  color: #333;
  height: 40px;
  width: 80%;
  padding: 3%;
  transition: all .15s ease-out;
  outline: none;
  border-radius: 2px;
  border: 2px solid purple;
  font-family: "Museo Sans"; }

.submitBtn:hover {
  background-color: #333;
  border: 2px solid purple;
  color: #e4e4e4;
  cursor: pointer; }

@media (max-width: 450px) {
  .submitBtnDiv {
    width: 150px; }
  .submitBtn {
    height: 35px; } }

#clickViewPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; }

.deleteBtn {
  background-color: red;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer; }

.viewBtn {
  background-color: #e4e4e4;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer; }

/* SINGLE */
.singleHead {
  font-size: 2.0rem;
  margin: 0;
  margin-bottom: 10px;
  color: #e4e4e4;
  font-weight: bolder; }

.hp {
  margin: 0;
  margin-bottom: 25px;
  font-size: 1.5rem;
  color: #e4e4e4; }

.tq {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 25px;
  color: #e4e4e4; }

.msrp {
  margin: 0;
  margin-bottom: 25px;
  font-size: 1.5rem;
  color: #e4e4e4; }

@media (max-width: 550px) {
  .singleHead {
    font-size: 1.5rem; } }

@media (max-width: 450px) {
  .singleHead {
    font-size: 1.4rem; }
  .tq {
    font-size: 1.3rem; }
  .hp {
    font-size: 1.3rem; }
  .msrp {
    font-size: 1.3rem; } }
