html, body{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.heading{
    font-size: 2.5rem;
    margin: 0;
}

.carList{
    width: 350px;
    max-height: 400px;
    overflow: scroll;
    padding: 0;
}

.carListItem{
    margin: 5%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #e4e4e4;
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: #e4e4e4;
    font-size: 1.1rem;
}

.newCarForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 450px;
   
}

.newCarInput{
    width: 25%;
    padding: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.05rem;
    outline: none;
    align-self: center;
}

.additionalInput{
    width: 25%;
    padding: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.05rem;
    outline: none;
    align-self: center;
}

.yearBrandModel{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2%;
    font-size: 1.0rem;
    outline: none;
    align-self: center;
}

.hpTqMsrp{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2%;
    font-size: 1.0rem;
    outline: none;
    align-self: center;
}

.submitBtnDiv{
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn{
    font-size: 1.3rem;
    color: #333;
    height: 100%;
    width: 100px;
    padding: 3%;
}

.deleteForm{}

.deleteBtn{
    background-color: red;
    border: none;
    outline: none;
    font-size: 1rem;
}

.viewForm{}

.viewBtn{
    border: none;
    outline: none;
    font-size: 1rem;
}

/* SINGLE */
.singleHead{
    color: #e4e4e4;
}

.hp{
    color: #e4e4e4;
}

.tq{
    color: #e4e4e4;
}

.msrp{
    color: #e4e4e4;
}