html, body{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #e4e4e4;
    background-color: white;
}

.homeNavDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.navLinks{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}

.homeNav{
    font-size: 1.3rem;
    color: #333;
}

.brandNav{
    align-self: flex-end;
    font-size: 1.3rem;
    color: #333;
}


a{
    text-decoration: none;
    color: inherit;
}



.h3Div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.pDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-bottom: 40px;
    text-align: center;
}

.homeHead{
    font-size: 2.9rem;
    margin: 0;
    margin-bottom: 40px;
    color: #e4e4e4;
}

.homeH3{
    font-size: 1.8rem;
    margin: 0;
    color: #e4e4e4;
}

.homeP{
    font-size: 1.2rem;
    margin: 0;
    color: #e4e4e4;
}

.viewAllBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    color: #333;
    font-size: 1.2rem;
    border: 2px solid purple;
    border-radius: 2px;
    height: 40px;;
    width: 100px;
    margin-bottom: 20px;
    transition: all 0.15s ease-out;
}

.viewAllBtn:hover{
    background-color: #333;
    color: #e4e4e4;
    cursor: pointer;
}

.carList{
    width: 350px;
    max-height: 400px;
    overflow: scroll;
    padding: 0;
}

.carListItem{
    margin: 5%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #e4e4e4;
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: #e4e4e4;
    font-size: 1.1rem;
}

.newCarForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 450px;
   
}

.newCarInput{
    width: 23%;
    padding: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.00rem;
    outline: none;
    align-self: center;
    border-radius: 2px;
}

.additionalInput{
    width: 23%;
    padding: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.00rem;
    outline: none;
    align-self: center;
    border-radius: 2px;
}

.yearBrandModel{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    font-size: 1.0rem;
    outline: none;
    align-self: center;
    padding-bottom: 0;
}


.hpTqMsrp{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    padding-top: 0;
    font-size: 1.0rem;
    outline: none;
    align-self: center;
}

@media(max-width: 600px) {
    .homeHead{ font-size: 2.4rem; margin-bottom: 30px;}
    .pDiv{ margin-bottom: 30px; }
    .homeH3{ font-size: 1.7rem;}
    .homeP{ font-size: 1.15rem; }
    .newCarForm{ flex-direction: row; }
    .yearBrandModel{ padding-top: 0; flex-direction: column; }
    .hpTqMsrp{ padding-bottom: 0; flex-direction: column; }
    .newCarInput{ margin: 3%; margin-left: 0; margin-right: 0; width: 80%;}
    .additionalInput{  margin: 3%; margin-left: 0; margin-right: 0; width: 80%;}
}

@media(max-width: 500px) {
    .homeHead{ font-size: 2.3rem; }
    .pDiv{ margin-bottom: 30px; }
    .homeH3{ font-size: 1.65rem;}
    .pDiv{ width:400px; }
    .homeP{ font-size: 1.1rem; }
    .yearBrandModel{ padding-right: 0; padding-left: 4%; }
    .hpTqMsrp{ padding-left: 0;  padding-right: 4%; }
    .newCarInput{ width: 75%; }
    .additionalInput{ width: 75%; }
}

@media(max-width: 450px) {
    .newCarInput{ margin: 1.5% }
    .additionalInput{ margin: 1.5%; }
    .newCarForm{ flex-direction: column; height: 280px; margin-top: 1.5%;}
    .yearBrandModel{ width: 70%; padding: 0; height: 50%; justify-content: space-around;}
    .hpTqMsrp{ width: 70%; padding: 0; height: 50%; justify-content: space-around;}
}

.submitBtnDiv{
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn{
    font-size: 1.1rem;
    background-color: #e4e4e4;
    color: #333;
    height: 40px !important;
    width: 80%;
    padding: 3%;
    transition: all .15s ease-out;
    outline: none;
    border-radius: 2px;
    border: 2px solid purple;
}

.submitBtn:hover{
    background-color: #333;
    border: 2px solid purple;
    color: #e4e4e4;
    cursor: pointer;
}



.deleteBtn{
    background-color: red;
    border: none;
    outline: none;
    font-size: 1rem;
}


.viewBtn{
    border: none;
    outline: none;
    font-size: 1rem;
}

/* SINGLE */
.singleHead{
    color: #e4e4e4;
}

.hp{
    color: #e4e4e4;
}

.tq{
    color: #e4e4e4;
}

.msrp{
    color: #e4e4e4;
}