html, body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background-color: #333;
  font-family: "Museo Sans"; }

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/fonts/museoSans.ttf") format("TrueType"); }

.container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

hr {
  width: 70%;
  margin: 0;
  margin-bottom: 25px;
  height: 1px;
  background-color: white;
  border-color: purple;
  max-width: 450px; }

input {
  -webkit-appearance: none;
  border: none;
  border-radius: 5px; }

a {
  text-decoration: none;
  color: inherit; }

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #e4e4e4;
  background-color: purple;
  border-bottom: #e4e4e4 solid 2px; }
  .nav a {
    text-decoration: none;
    color: inherit; }
  .nav .homeNavDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 100%; }
    .nav .homeNavDiv .homeNav {
      font-size: 1.3rem;
      color: #e4e4e4; }
  .nav .navLinks {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%; }
    .nav .navLinks .brandNav {
      align-self: flex-end;
      font-size: 1.3rem;
      color: #e4e4e4; }

.homeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .homeSection .h3Div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px; }
    .homeSection .h3Div .homeH3 {
      font-size: 1.8rem;
      margin: 0;
      color: #e4e4e4; }
  .homeSection .pDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    margin-top: 7px;
    margin-bottom: 40px;
    text-align: center; }
    .homeSection .pDiv .homeP {
      font-size: 1.12rem;
      margin: 0;
      color: #e4e4e4; }
  .homeSection .homeHead {
    font-size: 2.9rem;
    margin: 0;
    margin-bottom: 40px;
    color: #e4e4e4; }
  .homeSection .newCarForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    justify-items: center;
    align-self: center;
    height: auto;
    width: 450px;
    margin-bottom: 15px; }
    .homeSection .newCarForm input {
      width: calc(90% - 6px);
      height: calc(100% - 6px);
      font-size: 1.15rem;
      padding: 3px; }
  .homeSection .viewAllBtn, .homeSection .submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e4e4e4;
    color: #333;
    font-size: 1.2rem;
    border: 2px solid purple;
    border-radius: 5px;
    width: auto;
    margin-bottom: 20px;
    transition: all 0.15s ease-in-out; }
    .homeSection .viewAllBtn:hover, .homeSection .submitBtn:hover {
      background-color: #333;
      color: #e4e4e4;
      cursor: pointer; }

.carList {
  width: 400px;
  max-height: 400px;
  padding: 0; }
  .carList .carListItem {
    width: 100%;
    margin: 5%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #e4e4e4;
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: #e4e4e4;
    font-size: 1.1rem;
    border-radius: 5px; }
    .carList .carListItem .buttonsDiv {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100px; }
      .carList .carListItem .buttonsDiv .deleteBtn {
        background-color: red;
        border: none;
        outline: none;
        font-size: 1rem;
        cursor: pointer; }
      .carList .carListItem .buttonsDiv .viewBtn {
        background-color: #e4e4e4;
        border: none;
        outline: none;
        font-size: 1rem;
        cursor: pointer; }
  @media (max-width: 550px) {
    .carList {
      width: 350px; }
      .carList .carListItem {
        flex-direction: column; }
      .carList .buttonsDiv {
        flex-direction: row;
        margin-top: 5px; } }
  @media (max-width: 450px) {
    .carList {
      width: 310px; } }

.singleDiv {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .singleDiv .singleHead {
    font-size: 2.0rem;
    margin: 0;
    margin-bottom: 10px;
    color: #e4e4e4;
    font-weight: bolder; }
  .singleDiv .hp {
    margin: 0;
    margin-bottom: 25px;
    font-size: 1.5rem;
    color: #e4e4e4; }
  .singleDiv .tq {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 25px;
    color: #e4e4e4; }
  .singleDiv .msrp {
    margin: 0;
    margin-bottom: 25px;
    font-size: 1.5rem;
    color: #e4e4e4; }
  @media (max-width: 550px) {
    .singleDiv .singleHead {
      font-size: 1.5rem; } }
  @media (max-width: 450px) {
    .singleDiv .singleHead {
      font-size: 1.4rem; }
    .singleDiv .tq {
      font-size: 1.3rem; }
    .singleDiv .hp {
      font-size: 1.3rem; }
    .singleDiv .msrp {
      font-size: 1.3rem; } }
